*{
	max-width:100%;
	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
}


@media screen and (min-width: 768px){
    body{
    }

    #tabela{
        height:50px ;
        width: 50px;
        border: 1px solid black;
        float:left;
    }

    #cartela{
        position: relative;
        top:100px;
        height: 250px;
        width: 250px;
        left: 15%;
    }

    #titulo{
    }
}
